@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "@fontsource/montserrat/700.css"; /* negrita */
@import "@fontsource/roboto/400.css";     /* regular */
@import "@fontsource/roboto/700.css";     /* negrita */
@import "@fontsource/open-sans";          /* regular por defecto */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-titulo: 'Montserrat', sans-serif;
  --font-subtitulo: 'Roboto', sans-serif;
  --font-texto: 'Open Sans', sans-serif;
}